

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@media screen {
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre+Baskerville" ;
    font-size: large;
}

body {
    display: block
}

/* header */
nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    height: 64px;;
    top: 0;
    background-color: aliceblue;
}

 .navmobile {   
    display: flex;
    justify-content: space-evenly;
    gap: 64px;
    position: sticky;
    align-items: center;
    top: 0;
 } 

.ic-logo {
    display: flex;
    align-items: center;
    
    padding: 24px;
    font-size: 24px;
}

.logocolmar {
    display: flex;
    align-items: center;
}

.spancolmar {
    font-weight: bold;
}

.spanacademy a {
    color: gray;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style: none;
    padding: 24px;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: black;
}

/* section hero */

.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    background-color: rgb(168, 168, 168);
    width: auto;
}

img.banner {
    width: 100%;
    
    }

.hero-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 24px;
    gap: 16px;
    
    
}

.start-here {
    padding: 24px;
    display: inline-block;
    color: white;
    background-color: rgb(80, 80, 80);
    width: 80%;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    transition: all .3s;
    box-shadow: 0 1rem 2rem rgb(255, 255, 255);
    font-size: 1.5rem;
}

.start-here:hover {
    background-color: rgb(138, 138, 138);
}

.text1 {
    font-size: 4rem;
    font-weight: bolder;
}

.text2 {
    font-size: 2rem;
    font-weight: bolder;
}
/* section info */

.information {
    display: flex;
    
}

.infoleft {
    display: flex;
    flex-direction: column;
    padding: 24px;
    padding-top: 32px;
    
    gap: 24px;
}

.infoleft img {
    width: 100%;
}

.infoleft h1 {
    font-weight: bolder;
    font-size: 3.5rem;
    
}

.infoleft p {
    font-size: 1.5rem;
    font-weight: lighter;
    
}

p.text-left3 {
    font-size: 1.8rem;
    font-weight: bolder;
}

.inforight {
   padding: 32px;
    
}

.box1 {
    padding: 16px;
    display: flex;
    gap: 24px;
    
    width: auto;
    
}

.box1:hover {
    background-color: rgb(168, 168, 168);
    box-shadow: 0 1rem 2rem rgb(5, 5, 5);
    border-radius: 16px;
    
}

.box1-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.box1-1 h1 {
    font-size: 2rem;
    font-weight: bolder;
    
}

.box1-1 p {
    font-size: 1rem;
    font-weight: lighter;
}

.readmore {
    font-size: 1.2em;
    font-weight: bolder;
    color: #2e5ca1;
}
/* section course */

.course {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(168, 168, 168);
    padding-bottom: 40px;
}

.startlearning {
    text-align: center;
    font-size: 3rem;
    padding: 32px;
    
}

.coursezone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    
}

.course1 {
    background-color: rgb(195, 195, 196);
    padding-bottom: 24px;
    border-radius: 16px;
    box-shadow: 0 0.5rem 1rem snow;
}

.course1:hover {
    background-color: aliceblue;
}

.course1 h1 {
    padding: 16px;
    
}


.course p {
    padding-left: 16px;
    padding-top: 8px;
}



/* section thesis */

.thesis {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    
}

.thesisexhibit {
    text-align: center;
    font-size: 3rem;
    padding: 32px;
}

.thesiszone {
    display: flex;
    gap: 24px;
}

.thesis1 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.thesis1 h1 {
    padding-top: 24px;
    font-size: 2rem;
    font-weight: bolder;
}

.thesis p {
    padding: 32px;
    font-size: 1.5rem;
}

.thesis2 {
    display: flex;
    flex-direction: column;
    padding: 16px;
    
}

.fisma {
    display: flex;
    padding: 16px;
    
}

.fisma1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    font-size: 1.5rem;
}

.fisma:hover {
    background-color: rgb(168, 168, 168);
    box-shadow: 0 1rem 2rem rgb(5, 5, 5);
    border-radius: 16px;
}

.nowandthen {
    display: flex;
    padding: 16px;
}

.nowandthen:hover {
    background-color: rgb(168, 168, 168);
    box-shadow: 0 1rem 2rem rgb(5, 5, 5);
    border-radius: 16px;
}

.nowandthen1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    font-size: 1.5rem;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-top: 16px;
    background-color: rgb(168, 168, 168);
}

.footer-p {
    padding-left: 24px;
    padding-top: 16px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    nav.navbar {
    display: none;
}
@media only screen and (max-width: 37.5em) {
    .nav--mobile {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
}